<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.markthenread"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true"
        >
        <activity
            android:name="com.example.markthenread.LaunchActivity"
            android:label="@string/app_name" 
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
            </intent-filter>
    
            
        </activity>
        <activity
            android:name="com.example.markthenread.ManAddActivity"
            android:label="@string/title_activity_man_add" >
        </activity>
        <activity
            android:name="com.example.markthenread.Viewer"
            android:label="@string/title_activity_viewer" >
        </activity>
        </application>

</manifest>